<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <style>
            h2{
                margin-top:200px;
            }
            body{
                background-image:linear-gradient(cyan,magenta) ;

            }
        </style>
    </head>
    <body>
        <center>
            <h2>The Predicted Price of the Vehicle is {{price}} lacs.</h2>
        </center>
    </body>
</html>